<div class="container">
  <div class="row">
    <div class="col-md-6 six-container">
      <div class="todolist not-done">
        <h1>Todos</h1>
        <form name="form">
          <input type="text" class="form-control add-todo space" name="username" ng-model="username" placeholder="Name">
          <input type="text" class="form-control add-todo space" name="todo" ng-model="todo" placeholder="Add todo">
          <div class="checkbox white">
            <label>
              <input type="checkbox" name="is_done" ng-model="is_done"/>Is Done</label>
          </div>
          <div class="checkbox white">
            <label>
              <input type="checkbox" name="has_attachment" ng-model="has_attachment"/>Has Attachment</label>
          </div>
          <button ng-click="submetForm(form)" class="btn btn-success">submit</button>
        </form>

        <hr>
        <ul id="sortable" class="list-unstyled">
          <li class="ui-state-default">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" />Take out the trash</label>
            </div>
          </li>

        </ul>
        <button class="btn btn-success space">Mark all as done</button>

        <div class="todo-footer">
          <strong><span class="count-todos"></span></strong> Items Left
        </div>
      </div>
    </div>
    <div class="col-md-5 five-container">
      <div class="todolist">
        <h1>Already Done</h1>
        <ul id="done-items" class="list-unstyled">
          <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>

        </ul>
      </div>
    </div>
  </div>
</div>